Gemfile.lock
test/dest
*.gem
pkg/
*.swp
*~
_site/
.bundle/
.DS_Store
bbin/
gh-pages/
site/_site/
coverage
.ruby-version
.sass-cache
assets/highlightjs/

# npm
node_modules

# vim tmp files
*.swp

# logs
*.log

# hexo
Thumbs.db
db.json
debug.log
node_modules/
public/
.deploy/
