// color palette https://coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429

$color-bg: #F9FBFB
$color-bg_acent: #EDF2F4
$color-text_normal: #2B2D42
$color-text_alt: #8D99AE
$color-text_accent: #EF233C
$color-link: #D90429
$font-size: 1.8vw
$font-size_small: 0.75rem
$font-size_sm_screen: 18px
$line-height: 1.4rem

*
  box-sizing: border-box
  margin: 0
  padding: 0

html, body
  color: $color-text_normal
  font-size: $font-size_sm_screen
  font-family: helvetica, sans-serif
  line-height: $line-height
  font-weight: normal

p
  margin-bottom: 1rem

body
  padding: 1.5rem 5vw
  background-color: $color-bg

a
  position: relative
  color: $color-text_normal
  text-decoration: none
  border-bottom: 3px solid $color-link
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: hsl(352.6,86.4%,53.7%)
    transition: opacity 0.2s
    opacity: 0
    z-index: -1
  &:hover::before
    opacity: 0.5
  &:active::before
    opacity: 0.7

.sdm-multiline-link
  transition: background-color 0.2s
  &::before
    content: none
  &:hover
    background-color: hsla(352.6,86.4%,53.7%, 0.5)
  &:active
    background-color: hsla(352.6,86.4%,53.7%, 0.7)

h1, h2
  font-weight: 900

h1
  font-size: 1.8rem
  line-height: 1.9rem
  margin-bottom: 2rem

h2
  font-size: 1.4rem
  line-height: 1.5rem
  margin-top: 1.4rem
  margin-bottom: 1rem

.sdm-accent
  color: $color-text_accent

ul, ol
  list-style: none
  margin-bottom: 1rem

footer
  font-size: $font-size_small

.sdm-layout
  display: flex
  flex-wrap: wrap
  justify-content: center
  &__block
    flex-basis: 90vw
    &--footer
      color: $color-text_alt
  &__section
    margin-bottom: 1.5rem

.sdm-article
  margin-bottom: 1rem
  &__date
    margin-top: 0.25rem
    font-size: $font-size_small
    color: $color-text_alt

@media screen and (min-width: 701px)
  body
    padding: 1.5rem

  .sdm-layout
    justify-content: space-between
    &__block
      flex-basis: 45vw
      &--footer
        flex-basis: 45vw
        align-self: flex-start

@media screen and (min-width: 1025px)
  .sdm-layout
    &__block
      flex-basis: 30vw
      &--footer
        flex-basis: 100vw
      &--multisection
        display: flex
        flex-direction: column
