---
title: About, a few facts
---

h3 I born
ul
  li in the most cold place in world, it's called Yakutia

h3 I am now
ul
  li in Vladivostok
  li a lead web developer at Farpost Design
  li learning English

h3 I like
ul
  li JavaScrip, Ruby, Clojure programming languages
  li vim and lighttable text editor
  li beautiful design and typography
  li suits and good style in general
  li games and game-development
  li football, music and to have fun

h3 and I
ul
  li spent a great half year in Thailand
  li played for Titans amateur football club
  li love to visit Hong Kong when I can
