---
title: Hey
---

p
  | I am Dmitry from Russia and I mostly programmer.
  br
  | Here you can find reflection of my everyday programming activities.
  br
  a(href='/about/') More about me.

p
  | Look at my new project – 
  a(href='http://pict.divshot.io') Pict
  | .
  br
  | The programmers open dictionary from programmers
  | for culture of using your own spoken language.
